$c-gray: #eee;
$fontFamily: "Inter", sans-serif;

//main colors here
$c-dark-green: #1c3c09;
$c-light-green: #14d431;
$c-dark-green: #376510;
$c-bcg-green: #62bd4e;
$c-bcg-all: #ebebeb;
$c-black: #000;
$c-white: #fff;

//transition
$transition-duration: 0.2s;

$desktopMaxWidth: 1200px;

$gridGapDesktop: 24px;
$title-margin: 35px;
