.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-image: url("/images/contact-bcg-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    @include fontParams (64px, 100%, 900 );
    color: $c-dark-green;
    text-transform: capitalize;
    margin: 0 auto 24px;
    grid-column: 1/-1;
  }

  &__wrapper {
    margin: auto;
    width: 1400px;
  }

  &__form-source-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    background: rgba(188, 159, 128, 0.2);
    backdrop-filter: blur(3px);
  }

  &__form {
    grid-column: 1/6;
  }

  &__source {
    grid-column: 8/-1;
  }

}
